In [8]:
import pandas as pd
import numpy as np
import datetime

In [2]:
df = pd.read_csv('서울특별시_전동킥보드_견인_현황_20220425.csv', encoding='euckr')

In [3]:
df

,번호,신고일시,구정보,주소,조치일
0,1,2021-07-15 09:19:38,동작구,서울특별시 동작구 상도동 215-45,2021-07-15 09:26:41
1,2,2021-07-15 09:38:32,동작구,서울특별시 동작구 상도동 172-28,2021-07-15 09:44:35
2,3,2021-07-15 09:52:12,동작구,서울특별시 동작구 대방동 356-2,2021-07-15 09:56:48
3,4,2021-07-15 09:58:17,동작구,서울특별시 동작구 대방동 354-1,2021-07-15 10:04:09
4,5,2021-07-15 10:49:11,동작구,서울특별시 동작구 신대방동 460-30,2021-07-15 10:52:36
...,...,...,...,...,...
43124,43125,2022-04-25 17:14:59,마포구,서울특별시 마포구 연남동 250-10,2022-04-25 17:17:04
43125,43126,2022-04-25 17:21:38,마포구,서울특별시 마포구 연남동 239-25,2022-04-25 17:23:36
43126,43127,2022-04-25 17:27:56,관악구,서울특별시 관악구 남현동 1117,2022-04-25 17:28:31
43127,43128,2022-04-25 17:33:43,관악구,서울특별시 관악구 남현동 1136-1,2022-04-25 17:34:16
43128,43129,2022-04-25 17:43:29,동작구,서울특별시 동작구 사당동 144-4,2022-04-25 17:44:41

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43129 entries, 0 to 43128
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      43129 non-null  int64
 1   신고일시    43129 non-null  object
 2   구정보     43129 non-null  object
 3   주소      43129 non-null  object
 4   조치일     43128 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.6+ MB

In [21]:
df['걸린시간'] = pd.to_datetime(df['조치일']) - pd.to_datetime(df['신고일시'])

In [22]:
df

,번호,신고일시,구정보,주소,조치일,걸린시간
0,1,2021-07-15 09:19:38,동작구,서울특별시 동작구 상도동 215-45,2021-07-15 09:26:41,0 days 00:07:03
1,2,2021-07-15 09:38:32,동작구,서울특별시 동작구 상도동 172-28,2021-07-15 09:44:35,0 days 00:06:03
2,3,2021-07-15 09:52:12,동작구,서울특별시 동작구 대방동 356-2,2021-07-15 09:56:48,0 days 00:04:36
3,4,2021-07-15 09:58:17,동작구,서울특별시 동작구 대방동 354-1,2021-07-15 10:04:09,0 days 00:05:52
4,5,2021-07-15 10:49:11,동작구,서울특별시 동작구 신대방동 460-30,2021-07-15 10:52:36,0 days 00:03:25
...,...,...,...,...,...,...
43124,43125,2022-04-25 17:14:59,마포구,서울특별시 마포구 연남동 250-10,2022-04-25 17:17:04,0 days 00:02:05
43125,43126,2022-04-25 17:21:38,마포구,서울특별시 마포구 연남동 239-25,2022-04-25 17:23:36,0 days 00:01:58
43126,43127,2022-04-25 17:27:56,관악구,서울특별시 관악구 남현동 1117,2022-04-25 17:28:31,0 days 00:00:35
43127,43128,2022-04-25 17:33:43,관악구,서울특별시 관악구 남현동 1136-1,2022-04-25 17:34:16,0 days 00:00:33
43128,43129,2022-04-25 17:43:29,동작구,서울특별시 동작구 사당동 144-4,2022-04-25 17:44:41,0 days 00:01:12

In [33]:
df.to_csv("걸린시간추가.csv", mode='w', encoding='euckr')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43129 entries, 0 to 43128
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      43129 non-null  int64
 1   신고일시    43129 non-null  object
 2   구정보     43129 non-null  object
 3   주소      43129 non-null  object
 4   조치일     43128 non-null  object
 5   걸린시간    43128 non-null  timedelta64[ns]
dtypes: int64(1), object(4), timedelta64[ns](1)
memory usage: 2.0+ MB

In [ ]:
df2 = pd.read_csv("")