In [1]:
import warnings
warnings.filterwarnings(action='ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

from sklearn.model_selection import KFold

In [2]:
df = pd.read_csv('C:/Users/user/Desktop/프로젝트 data/최적입지_변수_총합(용산적용전)2.csv', encoding='euckr')

In [3]:
df

          id   bus  metro  taxi  park  uni  high   cf  bike  pop  class  kick
0      28208  0.00    0.0   0.0   0.0  0.0   0.0  0.0   0.0  0.0      0  0.00
1      28207  0.00    0.0   0.0   0.0  0.0   0.0  0.0   0.0  1.5      0  0.00
2      28055  0.00    0.0   0.0   0.0  0.0   0.0  0.0   0.0  1.5      0  0.00
3      28054  0.00    0.0   0.0   0.0  0.0   0.0  0.0   0.0  1.5      0  0.00
4      28053  0.00    0.0   0.0   0.0  0.0   0.0  0.0   0.0  1.5      0  0.75
...      ...   ...    ...   ...   ...  ...   ...  ...   ...  ...    ...   ...
15672    233  2.50    0.0   0.0   0.0  0.0   0.0  0.0   0.0  2.5      0  0.00
15673    232  2.50    0.0   0.0   0.0  0.0   0.0  0.0   0.0  2.5      0  0.00
15674     82  0.00    0.0   0.0   0.0  0.0   0.0  0.0   0.0  2.5      0  0.00
15675     81  0.25    0.0   0.0   0.0  0.0   0.0  0.0   0.0  2.5      0  0.00
15676     80  0.25    0.0   0.0   0.0  0.0   0.0  0.0   0.0  0.0      0  0.00

[15677 rows x 12 columns]

# 원핫인코딩

In [4]:
df = pd.get_dummies(df, columns=['bus', 'metro', 'taxi', 'park', 'uni', 'high',
                           'cf', 'bike', 'pop'])

In [5]:
df.head(5)

,id,class,kick,bus_0.0,bus_0.25,bus_0.75,bus_1.5,bus_2.5,metro_0.0,metro_0.25,...,cf_2.5,bike_0.0,bike_0.25,bike_0.75,bike_1.5,bike_2.5,pop_0.0,pop_0.75,pop_1.5,pop_2.5
0,28208,0,0.00,1,0,0,0,0,1,0,...,0,1,0,0,0,0,1,0,0,0
1,28207,0,0.00,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
2,28055,0,0.00,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
3,28054,0,0.00,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
4,28053,0,0.75,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0

## 로지스틱 회귀분석

In [6]:
features = df.loc[:, 'bus_0.0':'pop_2.5']
X = features.values
y = df['class'].values

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y.reshape(-1,), test_size=0.4, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=42)

#모델 적합
log_reg = LogisticRegression(random_state=42)
log_reg.fit(X_train, y_train)
y_pred_val = log_reg.predict(X_val)

#모델 성능 평가
y_pred_proba = log_reg.predict_proba(X_val)  #predict_proba : 예측확률
y_pred = np.argmax(y_pred_proba, axis=1)
accuracy_score(y_val, y_pred)

0.9400318979266348

In [9]:
coefficients = log_reg.coef_.tolist()

sorted_coefficients = sorted(enumerate(coefficients[0]), key=lambda x:x[1], reverse=True) # 회귀 계수

In [52]:
sorted_coefficients

[(4, 0.8298942600813183),
 (24, 0.5777811671725391),
 (39, 0.5333758653671583),
 (9, 0.5109128097664793),
 (3, 0.43937458150152264),
 (2, 0.26810631570171156),
 (41, 0.2573538027671442),
 (14, 0.24452665863350545),
 (16, 0.2140254073984206),
 (38, 0.18734478274735533),
 (13, 0.1715627796049836),
 (27, 0.13225334175248182),
 (8, 0.12221907023221164),
 (37, 0.12137010142546929),
 (43, 0.10636486298618136),
 (18, 0.10521500154819349),
 (17, 0.07652216288083402),
 (34, 0.06280499776580611),
 (12, 0.035993490682026105),
 (21, -0.0014424242845050034),
 (32, -0.005699037431862676),
 (26, -0.010197881849087572),
 (33, -0.016213377772212722),
 (31, -0.019805231655612796),
 (30, -0.020902673974829485),
 (29, -0.02988556186002059),
 (28, -0.032084584757896946),
 (15, -0.033007945721765),
 (1, -0.053930281830971386),
 (25, -0.05990063635415952),
 (11, -0.08203600783736244),
 (23, -0.11904051102658976),
 (20, -0.12369853979532934),
 (6, -0.12989754938012824),
 (42, -0.16578147349377234),
 (40, -0.19775251532824914),
 (5, -0.2373750166323287),
 (36, -0.25349893726893824),
 (7, -0.26567463705497985),
 (22, -0.333415015134827),
 (19, -0.3625699491743922),
 (10, -0.36986224415186225),
 (35, -0.5884071353397612),
 (0, -1.4832601985223317)]