In [12]:
import warnings
warnings.filterwarnings(action='ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

from sklearn.model_selection import KFold

In [3]:
titanic_df = pd.read_csv('C:/Users/user/Desktop/프로젝트 data/최적입지_변수_총합(용산적용전).csv', encoding='euckr')
titanic_df.head(2)

,id,버정평균점수,지하철평균점수,택정평균점수,공원평균점수,대학평균점수,고등학교평균점수,문화평균점수,따릉이평균점수,인구수점수,class
0,28208,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,28207,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.5,0

In [4]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15677 entries, 0 to 15676
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        15677 non-null  int64
 1   버정평균점수    15677 non-null  float64
 2   지하철평균점수   15677 non-null  float64
 3   택정평균점수    15677 non-null  float64
 4   공원평균점수    15677 non-null  float64
 5   대학평균점수    15677 non-null  float64
 6   고등학교평균점수  15677 non-null  float64
 7   문화평균점수    15677 non-null  float64
 8   따릉이평균점수   15677 non-null  float64
 9   인구수점수     15677 non-null  float64
 10  class     15677 non-null  int64
dtypes: float64(9), int64(2)
memory usage: 1.3 MB

In [26]:
# train_test data split
data = ['버정평균점수', '지하철평균점수', '택정평균점수', '공원평균점수', 
        '대학평균점수', '고등학교평균점수', '문화평균점수', '따릉이평균점수', '인구수점수']
X_train, X_test, y_train, y_test = train_test_split(
    titanic_df[data], # 문제
    titanic_df['class'], # 정답
    test_size = 0.2, # test-size비율
    random_state = 200 # 시드값 설정
)

In [7]:
df_clf = DecisionTreeClassifier(random_state=11)
rf_clf = RandomForestClassifier(random_state=11)
svc_clf = SVC()
clf_list = [df_clf, rf_clf, svc_clf]

In [15]:
def exec_kfold(df, clf, k):
    acc_list = []
    kfold = KFold(n_splits=k)
    for i, (train_index, test_index) in enumerate(kfold.split(df[data])):
        X_train2,X_test2 = df[data].values[train_index], df[data].values[test_index]
        y_train2,y_test2 = df['class'].values[train_index],df['class'].values[test_index]
        
        clf.fit(X_train2, y_train2)
        pred2 = clf.predict(X_test2)
        acc = accuracy_score(y_test2, pred2)
        acc_list.append(acc)
        print(i , ': 교차검증 정확도>> {0:.2f}'.format(acc))
    print('평균 정확도>> {0:.2f}'.format(np.mean(acc_list)))
    return np.mean(acc_list)

In [16]:
acc_total = []
model_list = ['decision tree', 'random forest', 'svm']
for i, clf in enumerate(clf_list):
    print(model_list[i], '----검증시작----')
    acc_result = exec_kfold(titanic_df, clf, 10)
    acc_total.append(acc_result)

decision tree ----검증시작----
0 : 교차검증 정확도>> 0.87
1 : 교차검증 정확도>> 0.92
2 : 교차검증 정확도>> 0.88
3 : 교차검증 정확도>> 0.88
4 : 교차검증 정확도>> 0.91
5 : 교차검증 정확도>> 0.92
6 : 교차검증 정확도>> 0.89
7 : 교차검증 정확도>> 0.87
8 : 교차검증 정확도>> 0.89
9 : 교차검증 정확도>> 0.93
평균 정확도>> 0.90
random forest ----검증시작----
0 : 교차검증 정확도>> 0.90
1 : 교차검증 정확도>> 0.93
2 : 교차검증 정확도>> 0.91
3 : 교차검증 정확도>> 0.92
4 : 교차검증 정확도>> 0.95
5 : 교차검증 정확도>> 0.95
6 : 교차검증 정확도>> 0.92
7 : 교차검증 정확도>> 0.90
8 : 교차검증 정확도>> 0.92
9 : 교차검증 정확도>> 0.96
평균 정확도>> 0.93
svm ----검증시작----
0 : 교차검증 정확도>> 0.91
1 : 교차검증 정확도>> 0.95
2 : 교차검증 정확도>> 0.93
3 : 교차검증 정확도>> 0.93
4 : 교차검증 정확도>> 0.96
5 : 교차검증 정확도>> 0.96
6 : 교차검증 정확도>> 0.93
7 : 교차검증 정확도>> 0.90
8 : 교차검증 정확도>> 0.93
9 : 교차검증 정확도>> 0.96
평균 정확도>> 0.94

In [17]:
for i in range(3):
    print(model_list[i], " 교차검증 평균: ", acc_total[i])

decision tree  교차검증 평균:  0.8966001995884506
random forest  교차검증 평균:  0.9267714288970217
svm  교차검증 평균:  0.9364667309169998

In [18]:
# 최대 평균값 ==
max_value = np.max(acc_total)
# 최대 평균값 인덱스 ==
max_index = np.argmax(acc_total)
# 최대 평균값 모델명 ==
max_model = model_list[max_index]

print('최고 교차 검증 평균>> ', max_value)
print('최고 교차 검증 인덱스>> ', max_index)
print('최고 교차 검증 모델링>> ', max_model)

최고 교차 검증 평균>>  0.9364667309169998
최고 교차 검증 인덱스>>  2
최고 교차 검증 모델링>>  svm

In [23]:
df = pd.get_dummies(titanic_df, columns=['버정평균점수', '지하철평균점수', '택정평균점수', '공원평균점수', '대학평균점수',
                           '고등학교평균점수', '문화평균점수', '따릉이평균점수', '인구수점수'])