## 카이제곱 검정

In [2]:
import os
import warnings

warnings.simplefilter(action='ignore', category=FutureWarning)

import pandas as pd
import numpy as np
from scipy import stats
import math
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import os
if os.name == 'nt' :
    font_family = "Malgun Gothic"
else:
    font_family = "AppleGothic"
    
sns.set(font=font_family, rc ={"axes.unicode_minus" : False})

In [3]:
df = pd.read_csv('C:/Users/user/Desktop/프로젝트/엑셀/최적입지_변수_총합(용산적용전).csv', encoding='euckr')
df.head()

      id  bus  metro  park  high  uni  pop  age  mart  kick  Class
0  28208  0.0    0.0   0.0   0.0  0.0  0.0  0.0   0.0   0.0      0
1  28207  0.0    0.0   0.0   0.0  0.0  0.3  0.1   0.0   0.1      0
2  28055  0.0    0.0   0.0   0.0  0.0  0.3  0.1   0.0   0.1      0
3  28054  0.2    0.0   0.0   0.0  0.0  0.3  0.1   0.0   0.3      0
4  28053  0.4    0.0   0.0   0.0  0.0  0.3  0.1   0.0   0.4      1

버스(5x5)

In [10]:
print(pd.crosstab(df['bus'], df['kick'], margins=True))

# 계산하기 위한 교차표
data_crosstab = pd.crosstab(df['bus'], df['kick'], margins=False)

kick   0.0  0.1  0.2   0.3   0.4    All
bus
0.0   2415  130   79    34    22   2680
0.1    344  147   86    45    48    670
0.2    381  115  239   177   132   1044
0.3    430  105  182   439   611   1767
0.4   1124  260  404   816  6912   9516
All   4694  757  990  1511  7725  15677

In [11]:
data_crosstab

kick   0.0  0.1  0.2  0.3   0.4
bus
0.0   2415  130   79   34    22
0.1    344  147   86   45    48
0.2    381  115  239  177   132
0.3    430  105  182  439   611
0.4   1124  260  404  816  6912

In [12]:
# 교차표분석 : 카이제곱 통계량 산출
from scipy.stats import chi2_contingency

# correction = Ture를 적용하면 yates' correction이 적용되어 
# 검정 통계량이 보수적으로 더 낮게 나옴
result = chi2_contingency(observed=data_crosstab, correction=False)
print("1. 카이제곱 통계량 :", result[0])
print("2. p-value :", result[1])
print("3. df :", result[2]) # (행의개수 -1) * (열의개수 -1)
print("4. 기대값 행렬 :\n", 
      pd.DataFrame(result[3]).rename(index={0 : "0.00", 1: "0.25", 2: "0.75", 3: "1.50",4: "2.50"}, 
                                     columns={0 : "0.00", 1: "0.25", 2: "0.75", 3: "1.50",4: "2.50"}))

if 0.05 >= result[1] : # p-value
    print("대립가설 채택, 버스정류장과 견인지역에는 관계가 있다.")
else :
    print("귀무가설 채택, 버스평균정류장과 견인지역에는 관계가 없다.")

1. 카이제곱 통계량 : 9285.3293859437
2. p-value : 0.0
3. df : 16
4. 기대값 행렬 :
              0.00        0.25        0.75        1.50         2.50
0.00   802.444345  129.409964  169.241564  258.307074  1320.597053
0.25   200.611086   32.352491   42.310391   64.576769   330.149263
0.75   312.593991   50.411941   65.928430  100.624099   514.441539
1.50   529.074313   85.323659  111.585763  170.309179   870.707087
2.50  2849.276265  459.501946  600.933852  917.182879  4689.105058
대립가설 채택, 버스정류장과 견인지역에는 관계가 있다.

지하철(5x5)

In [7]:
print(pd.crosstab(df['metro'], df['kick'], margins=True))

# 계산하기 위한 교차표
data_crosstab = pd.crosstab(df['metro'], df['kick'], margins=False)

kick    0.0  0.1  0.2   0.3   0.4    All
metro
0.0    4393  642  710   941  3130   9816
0.1     103   58  116   179  1165   1621
0.2      79   28   99   213  1223   1642
0.3      58   19   42   121  1079   1319
0.4      61   10   23    57  1128   1279
All    4694  757  990  1511  7725  15677

In [8]:
data_crosstab

kick    0.0  0.1  0.2  0.3   0.4
metro
0.0    4393  642  710  941  3130
0.1     103   58  116  179  1165
0.2      79   28   99  213  1223
0.3      58   19   42  121  1079
0.4      61   10   23   57  1128

In [13]:
# 교차표분석 : 카이제곱 통계량 산출
from scipy.stats import chi2_contingency

# correction = Ture를 적용하면 yates' correction이 적용되어 
# 검정 통계량이 보수적으로 더 낮게 나옴
result = chi2_contingency(observed=data_crosstab, correction=False)
print("1. 카이제곱 통계량 :", result[0])
print("2. p-value :", result[1])
print("3. df :", result[2]) # (행의개수 -1) * (열의개수 -1)
print("4. 기대값 행렬 :\n", 
      pd.DataFrame(result[3]).rename(index={0 : "0.00", 1: "0.25", 2: "0.75", 3: "1.50",4: "2.50"}, 
                                     columns={0 : "0.00", 1: "0.25", 2: "0.75", 3: "1.50",4: "2.50"}))

if 0.05 >= result[1] : # p-value
    print("대립가설 채택, 지하철역과 견인지역에는 관계가 있다.")
else :
    print("귀무가설 채택, 지하철역과 견인지역에는 관계가 없다.")

1. 카이제곱 통계량 : 9285.3293859437
2. p-value : 0.0
3. df : 16
4. 기대값 행렬 :
              0.00        0.25        0.75        1.50         2.50
0.00   802.444345  129.409964  169.241564  258.307074  1320.597053
0.25   200.611086   32.352491   42.310391   64.576769   330.149263
0.75   312.593991   50.411941   65.928430  100.624099   514.441539
1.50   529.074313   85.323659  111.585763  170.309179   870.707087
2.50  2849.276265  459.501946  600.933852  917.182879  4689.105058
대립가설 채택, 지하철역과 견인지역에는 관계가 있다.

공원(5x5)

In [14]:
print(pd.crosstab(df['park'], df['kick'], margins=True))

# 계산하기 위한 교차표
data_crosstab = pd.crosstab(df['park'], df['kick'], margins=False)

kick   0.0  0.1  0.2   0.3   0.4    All
park
0.0   4259  595  791  1226  6317  13188
0.1    139   50   63    81   480    813
0.2    114   40   62    73   392    681
0.3     93   40   43    57   280    513
0.4     89   32   31    74   256    482
All   4694  757  990  1511  7725  15677

In [15]:
data_crosstab

kick   0.0  0.1  0.2   0.3   0.4
park
0.0   4259  595  791  1226  6317
0.1    139   50   63    81   480
0.2    114   40   62    73   392
0.3     93   40   43    57   280
0.4     89   32   31    74   256

In [16]:
# 교차표분석 : 카이제곱 통계량 산출
from scipy.stats import chi2_contingency

# correction = Ture를 적용하면 yates' correction이 적용되어 
# 검정 통계량이 보수적으로 더 낮게 나옴
result = chi2_contingency(observed=data_crosstab, correction=False)
print("1. 카이제곱 통계량 :", result[0])
print("2. p-value :", result[1])
print("3. df :", result[2]) # (행의개수 -1) * (열의개수 -1)
print("4. 기대값 행렬 :\n", 
      pd.DataFrame(result[3]).rename(index={0 : "0.00", 1: "0.25", 2: "0.75", 3: "1.50",4: "2.50"}, 
                                     columns={0 : "0.00", 1: "0.25", 2: "0.75", 3: "1.50",4: "2.50"}))

if 0.05 >= result[1] : # p-value
    print("대립가설 채택, 공원과 견인지역에는 관계가 있다.")
else :
    print("귀무가설 채택, 공원과 견인지역에는 관계가 없다.")

1. 카이제곱 통계량 : 245.06807245052804
2. p-value : 5.306815946905888e-43
3. df : 16
4. 기대값 행렬 :
              0.00        0.25        0.75         1.50         2.50
0.00  3948.744785  636.812911  832.820055  1271.102124  6498.520125
0.25   243.428079   39.257575   51.340818    78.359571   400.613957
0.75   203.904701   32.883651   43.005039    65.636984   335.569624
1.50   153.602220   24.771385   32.395867    49.444600   252.785928
2.50   144.320214   23.274479   30.438222    46.456720   237.510366
대립가설 채택, 공원과 견인지역에는 관계가 있다.

대학교(5x5)

In [17]:
print(pd.crosstab(df['uni'], df['kick'], margins=True))

# 계산하기 위한 교차표
data_crosstab = pd.crosstab(df['uni'], df['kick'], margins=False)

kick   0.0  0.1  0.2   0.3   0.4    All
uni
0.0   4564  721  930  1352  6891  14458
0.1     43   16   20    60   273    412
0.2     31   13   18    45   197    304
0.3     31    5   15    31   195    277
0.4     25    2    7    23   169    226
All   4694  757  990  1511  7725  15677

In [18]:
data_crosstab

kick   0.0  0.1  0.2   0.3   0.4
uni
0.0   4564  721  930  1352  6891
0.1     43   16   20    60   273
0.2     31   13   18    45   197
0.3     31    5   15    31   195
0.4     25    2    7    23   169

In [19]:
# 교차표분석 : 카이제곱 통계량 산출
from scipy.stats import chi2_contingency

# correction = Ture를 적용하면 yates' correction이 적용되어 
# 검정 통계량이 보수적으로 더 낮게 나옴
result = chi2_contingency(observed=data_crosstab, correction=False)
print("1. 카이제곱 통계량 :", result[0])
print("2. p-value :", result[1])
print("3. df :", result[2]) # (행의개수 -1) * (열의개수 -1)
print("4. 기대값 행렬 :\n", 
      pd.DataFrame(result[3]).rename(index={0 : "0.00", 1: "0.25", 2: "0.75", 3: "1.50",4: "2.50"}, 
                                     columns={0 : "0.00", 1: "0.25", 2: "0.75", 3: "1.50",4: "2.50"}))

if 0.05 >= result[1] : # p-value
    print("대립가설 채택, 대학교와 견인지역에는 관계가 있다.")
else :
    print("귀무가설 채택, 대학고와 견인지역에는 관계가 없다.")

1. 카이제곱 통계량 : 306.5097247333343
2. p-value : 1.1425944017042004e-55
3. df : 16
4. 기대값 행렬 :
              0.00        0.25        0.75         1.50         2.50
0.00  4329.007591  698.137781  913.020348  1393.508835  7124.325445
0.25   123.360847   19.894368   26.017733    39.709893   203.017159
0.75    91.023538   14.679339   19.197551    29.300504   149.799069
1.50    82.939210   13.375582   17.492505    26.698157   136.494546
2.50    67.668814   10.912930   14.271863    21.782611   111.363781
대립가설 채택, 대학교와 견인지역에는 관계가 있다.

고등학교(5x5)

In [20]:
print(pd.crosstab(df['high'], df['kick'], margins=True))

# 계산하기 위한 교차표
data_crosstab = pd.crosstab(df['high'], df['kick'], margins=False)

kick   0.0  0.1  0.2   0.3   0.4    All
high
0.0   4189  558  681   923  4644  10995
0.1    171   56   80   156   842   1305
0.2    143   63   98   171   811   1286
0.3     94   44   66   127   724   1055
0.4     97   36   65   134   704   1036
All   4694  757  990  1511  7725  15677

In [21]:
data_crosstab

kick   0.0  0.1  0.2  0.3   0.4
high
0.0   4189  558  681  923  4644
0.1    171   56   80  156   842
0.2    143   63   98  171   811
0.3     94   44   66  127   724
0.4     97   36   65  134   704

In [22]:
# 교차표분석 : 카이제곱 통계량 산출
from scipy.stats import chi2_contingency

# correction = Ture를 적용하면 yates' correction이 적용되어 
# 검정 통계량이 보수적으로 더 낮게 나옴
result = chi2_contingency(observed=data_crosstab, correction=False)
print("1. 카이제곱 통계량 :", result[0])
print("2. p-value :", result[1])
print("3. df :", result[2]) # (행의개수 -1) * (열의개수 -1)
print("4. 기대값 행렬 :\n", 
      pd.DataFrame(result[3]).rename(index={0 : "0.00", 1: "0.25", 2: "0.75", 3: "1.50",4: "2.50"}, 
                                     columns={0 : "0.00", 1: "0.25", 2: "0.75", 3: "1.50",4: "2.50"}))

if 0.05 >= result[1] : # p-value
    print("대립가설 채택, 고등학교와 견인지역에는 관계가 있다.")
else :
    print("귀무가설 채택, 고등학교와 견인지역에는 관계가 없다.")

1. 카이제곱 통계량 : 1269.2847290842637
2. p-value : 1.987948336496574e-260
3. df : 16
4. 기대값 행렬 :
              0.00        0.25        0.75         1.50         2.50
0.00  3292.117752  530.918862  694.332462  1059.733686  5417.897238
0.25   390.742489   63.014926   82.410538   125.780124   643.051923
0.75   385.053518   62.097468   81.210691   123.948842   633.689481
1.50   315.887606   50.943101   66.623078   101.684315   519.861900
2.50   310.198635   50.025643   65.423231    99.853033   510.499458
대립가설 채택, 고등학교와 견인지역에는 관계가 있다.

인구수(5x5)

In [23]:
print(pd.crosstab(df['pop'], df['kick'], margins=True))

# 계산하기 위한 교차표
data_crosstab = pd.crosstab(df['pop'], df['kick'], margins=False)

kick   0.0  0.1  0.2   0.3   0.4    All
pop
0.0    726   98  134   211   884   2053
0.1    636  103  136   258  1151   2284
0.2    734  169  208   249  1895   3255
0.3    988  163  211   333  1486   3181
0.4   1610  224  301   460  2309   4904
All   4694  757  990  1511  7725  15677

In [24]:
data_crosstab

kick   0.0  0.1  0.2  0.3   0.4
pop
0.0    726   98  134  211   884
0.1    636  103  136  258  1151
0.2    734  169  208  249  1895
0.3    988  163  211  333  1486
0.4   1610  224  301  460  2309

In [25]:
# 교차표분석 : 카이제곱 통계량 산출
from scipy.stats import chi2_contingency

# correction = Ture를 적용하면 yates' correction이 적용되어 
# 검정 통계량이 보수적으로 더 낮게 나옴
result = chi2_contingency(observed=data_crosstab, correction=False)
print("1. 카이제곱 통계량 :", result[0])
print("2. p-value :", result[1])
print("3. df :", result[2]) # (행의개수 -1) * (열의개수 -1)
print("4. 기대값 행렬 :\n", 
      pd.DataFrame(result[3]).rename(index={0 : "0.00", 1: "0.25", 2: "0.75", 3: "1.50",4: "2.50"}, 
                                     columns={0 : "0.00", 1: "0.25", 2: "0.75", 3: "1.50",4: "2.50"}))

if 0.05 >= result[1] : # p-value
    print("대립가설 채택, 인구수와 견인지역에는 관계가 있다.")
else :
    print("귀무가설 채택, 인구수와 견인지역에는 관계가 없다.")

1. 카이제곱 통계량 : 203.81196932906934
2. p-value : 1.3438059398705465e-34
3. df : 16
4. 기대값 행렬 :
              0.00        0.25        0.75        1.50         2.50
0.00   614.708299   99.133827  129.646616  197.874785  1011.636474
0.25   683.874211  110.288193  144.234228  220.139312  1125.464056
0.75   974.610576  157.175161  205.552721  313.727435  1603.934107
1.50   952.453531  153.601901  200.879633  306.595076  1567.469860
2.50  1468.353384  236.800919  309.686802  472.663392  2416.495503
대립가설 채택, 인구수와 견인지역에는 관계가 있다.

나이(5x5)

In [27]:
print(pd.crosstab(df['age'], df['kick'], margins=True))

# 계산하기 위한 교차표
data_crosstab = pd.crosstab(df['age'], df['kick'], margins=False)

kick   0.0  0.1  0.2   0.3   0.4    All
age
0.0   1511  176  212   360  1381   3640
0.1    452  137  213   270  1453   2525
0.2    931   93  138   228  1313   2703
0.3   1214  214  267   382  1862   3939
0.4    586  137  160   271  1716   2870
All   4694  757  990  1511  7725  15677

In [28]:
data_crosstab

kick   0.0  0.1  0.2  0.3   0.4
age
0.0   1511  176  212  360  1381
0.1    452  137  213  270  1453
0.2    931   93  138  228  1313
0.3   1214  214  267  382  1862
0.4    586  137  160  271  1716

In [29]:
# 교차표분석 : 카이제곱 통계량 산출
from scipy.stats import chi2_contingency

# correction = Ture를 적용하면 yates' correction이 적용되어 
# 검정 통계량이 보수적으로 더 낮게 나옴
result = chi2_contingency(observed=data_crosstab, correction=False)
print("1. 카이제곱 통계량 :", result[0])
print("2. p-value :", result[1])
print("3. df :", result[2]) # (행의개수 -1) * (열의개수 -1)
print("4. 기대값 행렬 :\n", 
      pd.DataFrame(result[3]).rename(index={0 : "0.00", 1: "0.25", 2: "0.75", 3: "1.50",4: "2.50"}, 
                                     columns={0 : "0.00", 1: "0.25", 2: "0.75", 3: "1.50",4: "2.50"}))

if 0.05 >= result[1] : # p-value
    print("대립가설 채택, 나이와 견인지역에는 관계가 있다.")
else :
    print("귀무가설 채택, 나이와 견인지역에는 관계가 없다.")

1. 카이제곱 통계량 : 641.5174163181107
2. p-value : 3.520737649643846e-126
3. df : 16
4. 기대값 행렬 :
              0.00        0.25        0.75        1.50         2.50
0.00  1089.887096  175.765772  229.865408  350.834981  1793.646744
0.25   756.034318  121.925432  159.453339  243.367672  1244.219238
0.75   809.330994  130.520572  170.694010  260.523888  1331.930535
1.50  1179.413536  190.203674  248.747209  379.653569  1940.982012
2.50   859.334056  138.584551  181.240033  276.619889  1414.221471
대립가설 채택, 나이와 견인지역에는 관계가 있다.

대규모점포(5x5)

In [31]:
print(pd.crosstab(df['mart'], df['kick'], margins=True))

# 계산하기 위한 교차표
data_crosstab = pd.crosstab(df['mart'], df['kick'], margins=False)

kick   0.0  0.1  0.2   0.3   0.4    All
mart
0.0   4544  708  898  1289  5599  13038
0.1     51   14   27    69   608    769
0.2     38   14   25    69   543    689
0.3     31   12   19    43   472    577
0.4     30    9   21    41   503    604
All   4694  757  990  1511  7725  15677

In [32]:
data_crosstab

kick   0.0  0.1  0.2   0.3   0.4
mart
0.0   4544  708  898  1289  5599
0.1     51   14   27    69   608
0.2     38   14   25    69   543
0.3     31   12   19    43   472
0.4     30    9   21    41   503

In [33]:
# 교차표분석 : 카이제곱 통계량 산출
from scipy.stats import chi2_contingency

# correction = Ture를 적용하면 yates' correction이 적용되어 
# 검정 통계량이 보수적으로 더 낮게 나옴
result = chi2_contingency(observed=data_crosstab, correction=False)
print("1. 카이제곱 통계량 :", result[0])
print("2. p-value :", result[1])
print("3. df :", result[2]) # (행의개수 -1) * (열의개수 -1)
print("4. 기대값 행렬 :\n", 
      pd.DataFrame(result[3]).rename(index={0 : "0.00", 1: "0.25", 2: "0.75", 3: "1.50",4: "2.50"}, 
                                     columns={0 : "0.00", 1: "0.25", 2: "0.75", 3: "1.50",4: "2.50"}))

if 0.05 >= result[1] : # p-value
    print("대립가설 채택, 대규모점포와 견인지역에는 관계가 있다.")
else :
    print("귀무가설 채택, 대규모점포와 견인지역에는 관계가 없다.")

1. 카이제곱 통계량 : 1363.930982627288
2. p-value : 9.215750493429739e-281
3. df : 16
4. 기대값 행렬 :
              0.00        0.25        0.75         1.50         2.50
0.00  3903.831856  629.569816  823.347579  1256.644639  6424.606111
0.25   230.253620   37.132934   48.562225    74.118709   378.932513
0.75   206.300057   33.269950   43.510238    66.408050   339.511705
1.50   172.765070   27.861772   36.437456    55.613128   284.322574
2.50   180.849397   29.165529   38.142502    58.215475   297.627097
대립가설 채택, 대규모점포와 견인지역에는 관계가 있다.